<!-- Fixed Footer -->
<footer class="dashboard-footer">
    <div class="footer-text">
        © 2026 <a href="https://arjanmalattarchand.com/" target="_blank" rel="noopener noreferrer">Arjanmal Attarchand</a>. All rights reserved.  Designer: <a
                    href="https://allitsols.com/" target="_blank" class="hover:text-amber-500 transition">All It
                    Solutions (Aastha Jain &  Akshay Jain)</a>
    </div>
</footer>

